* {
    margin-left:25px;
    margin-right:25px;
    margin-top: 0px;
}

.nav-bar {
    padding-top:8px;
    display:flex;
    flex:2 1 auto;
    align-items:baseline;
    background-color: #1F2937;
    color:white;
    /* font-family: ; */
}

.nav-bar .header-logo {
    flex: 3 1 auto;
}